---
interface Props {
  name: string;
  type: string;
  slug: string;
  imgSrc: string;
}

const { name, type, slug, imgSrc } = Astro.props;

let urlType = type.toLocaleLowerCase();
---

<a
  href={`/${urlType}/${slug}`}
  class="block w-[320px] h-[350px] cursor-pointer hover:scale-105 transition-all duration-300 ease-in-out overflow-hidden rounded-lg relative"
>
  <img src={imgSrc} alt={name} class="object-fill w-full h-full" />
  <div
    class="absolute top-0 right-0 w-full h-full bg-gradient-to-t from-black to-transparent opacity-80"
  >
  </div>
  <h3 class="absolute text-white h4 bottom-5 left-5">{name}</h3>
</a>
