---
import { Image } from "astro:assets";
import Icon from "astro-iconify";

import { urlForImage } from "@/lib/urlForImage";

interface Props {
  imgSrc: string;
  name: string;
  slug: string;
  country: string;
  price: number;
  currency: string;
  initialDate?: string;
  finalDate?: string;
  grade?: string;
  description: string;
}

const {
  name,
  currency,
  finalDate,
  initialDate,
  slug,
  grade,
  imgSrc,
  country,
  price,
  description,
} = Astro.props;
---

<article
  class="shadow-md rounded-md overflow-hidden bg-white hover:bg-slate-200 hover:shadow-xl w-[320px] flex gap-2 flex-col pb-5 transition-all duration-300 ease-in-out"
>
  <div class="w-full">
    <img
      src={imgSrc}
      alt={name}
      class="hover:scale-105 transition-all duration-[1s] ease-in-out"
    />
  </div>
  <div class="px-3 flex gap-2 flex-co flex-col">
    <h3 class="h3">{name}</h3>

    <div
      class="border-t border-b border-gray-300 mt-2 py-2 flex items-center justify-between"
    >
      <a
        href=`/pais/${country} `
        class="flex items-center hover:underline justify-start gap-1 font-medium"
      >
        <Icon
          name="material-symbols:location-on-outline"
          size="24px"
          class=""
        />
        {country}</a
      >
      <span class="font-bold text-xl">${price}</span>
    </div>
    <p class="text-sm text-gray-600 min-h-[140px]">{description}</p>
  </div>
  <a
    href={`/destinos/${slug}`}
    class="min-w-[140px] mt-2 self-start ml-4 bg-blue-500 hover:bg-blue-800 transition-all duration-300 ease-in-out rounded-3xl text-white font-bold py-2 px-5"
  >
    Mas detalles
  </a>
</article>
