---
import Layout from "@/layouts/Layout.astro";
import { getProduct } from "@/utils/sanity";
import PortableTextComponent from "@/components/portableText/PortableTextComponent.astro";
import { Image } from "astro:assets";
import BackButton from "@/components/shared/BackButton.astro";
import WhatsApp from "@/components/shared/socials/WhatsApp.astro";

const { slug = "" } = Astro.params ?? "";
const product = await getProduct(slug);

const {
  name,
  location,
  imgSrc,
  description,
  requirements,
  price,
  currency,
  priceKids,
  ageKids,
  checkInTime,
  checkOutTime,
} = product;
console.log("🚀 ~ Requisitos:", product.requirements);
---

<Layout
  title={`${name} | Better Travel`}
  description={`Zarpa hacia la experiencia de tus sueños con nuestro exclusivo Paquete de Crucero, donde el lujo y la aventura se encuentran en alta mar. Navega por aguas cristalinas y explora destinos impresionantes, todo mientras disfrutas de las comodidades excepcionales que solo ${name} puede ofrecer. `}
  keywords={["crucero"]}
>
  <section class="w-full mt-[120px] md:pt-[0px] pb-10 text-black">
    <div
      class="container grid grid-cols-1 lg:grid-cols-2 justify-items-center lg:gap-x-20"
    >
      <div
        class="overflow-hidden flex flex-col items-start justify-start col-span-2 lg:col-span-1"
      >
        <BackButton />
        <!-- Image -->
        <Image
          src={imgSrc}
          alt={name}
          widths={[240, 450, 600]}
          height={500}
          inferSize={true}
          class="object-contain rounded-xl mx-auto w-full lg:max-w-[600px] md:max-w-[550px] h-full"
        />
      </div>
      <article
        class="flex lg:mt-[30px] flex-col items-center justify-start lg:items-start"
      >
        <div class="flex flex-col justify-start items-start py-5 gap-4">
          <h1 class="h2">{name}</h1>
          <p><span>{currency}</span>$ <span class="h4">{price}</span></p>
        </div>

        <p class="p mb-5 font-medium">Informacion:</p>
        <PortableTextComponent value={description} />
        <!-- Requisitos -->
        <div
          class="bg-white border rounded-md border-slate-500 w-[250px] p-3 mt-10"
        >
          <h4 class="h4 mb-5">Requisitos</h4>

          <PortableTextComponent value={requirements} />
        </div>
      </article>
      <WhatsApp
        class:list={"bg-green-500 mt-10 col-span-2 hover:bg-green-800"}
      />
    </div>
  </section>
</Layout>
