---
import Layout from "@/layouts/Layout.astro";

import type Destination from "@/inferfaces/Destination";
import { loadQuery } from "@/lib/loadQuery";

const { slug } = Astro.params;
// const modSlug = slug?.toLocaleLowerCase().replace(/\s+/g, "-");
// console.log("🚀 ~ slug:", modSlug);

const destino = await loadQuery<Destination>({
  query: `*[_type == "hotels" && slug.current == "${slug}"][0]
  {name,
  "slug" : slug.current,
  price,
  description,
  "imgSrc": image.asset->url
  }
  `,
});

const { data } = destino;
console.log("🚀 ~ data:", data);
const { country, description, imgSrc, name, price } = data;
---

<Layout title={`Viaja por ${name}`}>
  <section class="mt-24 text-black">
    <div class="container">
      <button onclick="history.back()" class="pb-3 mb-2 opacity-70"
        >{`<--- Volver atras`}</button
      >
      <div class="w-full overflow-hidden h-96">
        <img src={imgSrc} class="object-contain w-full h-full rounded-3xl" />
      </div>
      <article>
        <div class="flex items-center justify-between mt-2">
          <h1 class="h1">{name}</h1>
          <a>{country}</a>
        </div>

        <p>{description}</p>
        <p class="font-bold">RD$ {price}</p>
      </article>
    </div>
  </section>
</Layout>
