---
import { info } from "@/data";
import { Icon } from "astro-iconify";
// import { beachBg } from "@/assets/videos";
const {
  address,
  email,
  tel,
  socials: { facebook, instagram, twitter },
} = info;
---

<section
  id="#home"
  class="w-full h-screen relative flex items-center justify-center m-auto"
>
  <div
    class="bg-[rgb(47,106,127)] w-full absolute top-0 bottom-0 mix-blend-hard-light z-[1]"
  >
  </div>

  <!-- <video
    src={beachBg}
    autoplay
    loop
    muted
    class="w-full absolute h-full top-0 bottom-0 object-cover"></video> -->

  <div class="h-max w-full container
    z-50">
    <article class="py-8 w-full flex flex-col items-center justify-center">
      <div class="flex flex-col items-start justify-center">
        <span class="text-sm uppercase mb-1">Mantente en contacto</span>
        <h1 class="h2 w-full inline-block mb-5">Viaja con nosotros</h1>
        <form
          action=""
          class="w-full mx-auto flex flex-col items-center justify-center"
        >
          <input
            type="text"
            placeholder="Escribe tu correo"
            class="bg-transparent border min-w-[250px] border-gray-400 rounded-3xl px-4 py-2 mb-5"
          />
          <button
            type="submit"
            class="px-5 py-2 bg-green-500 font-bold min-w-[140px]"
            >Enviar</button
          >
        </form>
      </div>
    </article>
    <!-- INFORMACION -->
    <!-- <article
        class="flex flex-col items-start justify-center min-w-[350px] [&>a:hover]:underline [&>a:hover]:text-sky-500"
      >
        <h3 class="h3 w-full mb-10 text-center">Informacion de Contacto</h3>

        <a
          href={`https://wa.me/${tel}`}
          class="p flex items-center justify-center gap-2"
        >
          <Icon name="fa-brands:whatsapp" size="32px" class="text-green-500" />
          Whatsapp: {tel}
        </a>

        <a
          href=`mailto:${email}`
          class="p flex items-center justify-center gap-2"
        >
          <Icon
            name="heroicons-outline:mail"
            size="32px"
            class="text-slate-300"
          />
          Escribenos: {email}
        </a>
        <div class="w-full mx-auto">
          <h4 class="text-center w-full mb-5 text-2xl font-medium">
            Redes Sociales
          </h4>
          <div class="flex items-center justify-center gap-4">
            <a href={instagram}>
              <Icon name="fa6-brands:instagram" size="48px" />
            </a>
            <a href={facebook}>
              <Icon name="fa:facebook-official" size="42px" />
            </a>
            <a href={twitter}
              ><Icon name="fa6-brands:square-x-twitter" size="48px" /></a
            >
          </div>
        </div>
      </article>
    </div> -->
    <!-- FORMULARIO -->
    <!-- <form
      action=""
      class="flex flex-col w-[400px] items-start [&>*]:rounded [&>textarea]:w-full [&>textarea]:h-[120px] [&>input]:w-full justify-center [&>label]:py-2 [&>label]:pl-3 [&>label]:text-gray-300 [&>input]:px-2 [&>input]:py-2"
    >
      <label for="name">Nombre</label>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Escribe tu nombre"
      />
      <label for="email">Correo Electronico</label>
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Escriba su correo electronico"
      />

      <label for="description">Detalles</label>
      <textarea name="description" id="description"></textarea>
      <button
        type="submit"
        class="bg-green-500 mt-5 font-bold px-10 mx-auto py-2">Enviar</button
      >
    </form> -->
  </div>
</section>
