---
import { info } from "@/data";
import { Icon } from "astro-iconify";
import SocialContainer from "../shared/SocialContainer.astro";
import WhatsApp from "../shared/socials/WhatsApp.astro";
import Instagram from "../shared/socials/Instagram.astro";
// import { beachBg } from "@/assets/videos";
const {
  address,
  email,
  tel,
  socials: { facebook, instagram, twitter, whatsapp },
} = info;

import logo from "@/assets/logo.png";
---

<footer
  id="footer"
  class="relative flex flex-col items-center justify-center w-full pt-32 pb-20"
>
  <div
    class="bg-[rgb(47,106,127)] w-full absolute top-0 bottom-0 mix-blend-hard-light z-[1]"
  >
  </div>

  <!-- <video
    src={beachBg}
    autoplay
    loop
    muted
    class="absolute top-0 bottom-0 object-cover w-full h-full"></video> -->

  <section
    class="container z-10 flex items-start justify-center lg:items-start lg:justify-between w-full h-max gap-x-12 gap-y-4 lg:gap-14 flex-wrap md:gap-x-20"
  >
    <article
      class="md:mt-5 lg:mt-0 min-w-[240px] min-h-max order-1 lg:order-[0]"
    >
      <img
        src={logo.src}
        alt="Better Travel Logo"
        class="w-full h-[150px] object-cover md:w-[400px] md:h-[200px]"
      />
    </article>
    <article
      class="flex flex-col gap-4 [&>a:hover]:underline [&>a:hover]:text-orange-500 [&>a]:font-medium [&>a]:py-3 transition-all duration-300 ease-in-out min-w-[120px]"
    >
      <h3 class="h3">Menu</h3>
      <a href="#" class="p">Inicio</a>
      <a href="#" class="p">Resorts</a>
      <a href="#" class="p">Hoteles</a>
      <a href="#" class="p">Resorts</a>
    </article>

    <article class="flex flex-col items-start justify-center gap-4 max-w-[60%]">
      <h3 class="h3">Informacion</h3>
      <SocialContainer class:list={"flex-col items-start justify-start  "}>
        <WhatsApp whatsapp={whatsapp} />
        <Instagram instagram={instagram} />
      </SocialContainer>
      <a
        href="https://maps.app.goo.gl/AtMQtG4RMEiahtGi6"
        target="_blank "
        rel="noopener noreferrer"
        class="flex items-start justify-center p hover:underline gap-x-2"
      >
        <Icon
          name="mdi:location-outline"
          size="32px"
          class="inline min-w-[32px]"
        />{address}
      </a>
      <a
        href="mailto:{email}"
        class="flex items-start justify-center p hover:underline gap-x-2"
      >
        <Icon
          name="mdi:mail-outline"
          size="32px"
          class="inline min-w-[32px]"
        />{email}</a
      >
      <a
        href="tel:{tel}"
        class="flex items-start justify-center p hover:underline gap-x-2"
      >
        <Icon
          name="mdi:telephone-outline"
          size="32px"
          class="inline min-w-[32px]"
        />
        {tel}</a
      >
    </article>
    <article class="order-10 w-full text-center">
      <p class="mt-10 p opacity-80 inline-block">
        Better Travel ©{new Date().getFullYear()} | Desarrollado por
      </p>
      <a
        href="https://painkillerdev.vercel.app"
        target="_blank"
        rel="noopener noreferrer"
        class="underline inline-block hover:cursor-pointer hover:no-underline hover:text-slate-600"
        >PainDev</a
      >
    </article>
  </section>
</footer>
