---
import { links } from "@/data";
import Icon from "astro-iconify";
import ButtonCTA from "../shared/ButtonCTA.astro";

import logo from "@/assets/logo.webp";
import { Image } from "astro:assets";
export const prerender = true;
---

<nav
  transition:persist
  class="fixed top-0 right-0 z-30 flex items-center justify-center w-full transition-all duration-300 ease-in-out bg-transparent shadow-md backdrop-blur-md"
>
  <div class="container flex items-center justify-between">
    <a href={`/`} class="h-full w-[300px]">
      <Image
        width={300}
        height={100}
        src={logo}
        alt="Better Travel Logo"
        class="w-[200px] h-[100px] object-cover"
      />
    </a>
    {
      links.slice(0, 2).map((link) => (
        <li class="font-medium list-none hidden md:block">
          <a
            href={link.path}
            class=" block px-5 py-2 hover:bg-sky-500 w-full text-center"
          >
            {link.text}
          </a>
        </li>
      ))
    }

    {
      links.slice(2).map((link) => (
        <li class="font-medium list-none hidden lg:block ">
          <a
            href={link.path}
            class=" block px-5 py-2 hover:bg-sky-500 w-full text-center"
          >
            {link.text}
          </a>
        </li>
      ))
    }
    <div
      class="min-w-[120px] [&>ul]:hidden hidden md:block lg:hidden [&:hover>span]:bg-sky-500 [&:hover>ul]:flex relative font-medium"
    >
      <span
        class="flex px-4 py-2 items-center justify-center gap-2 transition-all duration-300 ease-in-out"
      >
        Productos
        <Icon name="gridicons:dropdown" size="24px" class="" />
      </span>
      <ul
        class="flex-col transform absolute translate-x-1/2 right-1/2 -bottom-[220px] items-center justify-center w-[200px] h-full md:flex bg-sky-300 min-h-max"
      >
        {
          links.slice(2).map((link) => (
            <li class="w-full font-medium">
              <a
                href={link.path}
                class=" block px-5 py-2 hover:bg-sky-500 w-full text-center"
              >
                {link.text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
    <div id="btnCta" class="hidden md:block">
      <ButtonCTA
        href="#footer"
        class:list={`text-white hover:bg-orange-800 bg-orange-500 rounded-3xl`}
        >Contactanos</ButtonCTA
      >
    </div>
    <div id="menuBtn" class="z-50 block pointer md:hidden">
      <Icon name="mage:dots-menu" size="48px" class="text-blue-500" />
    </div>
  </div>
</nav>

<script>
  import { isMenuOpen } from "@/stores";

  const nav = document.querySelector("nav") as Element;
  const menuBtn = document.querySelector("#menuBtn") as HTMLButtonElement;

  // Manejo y escucha de estados
  menuBtn.addEventListener("click", () => {
    isMenuOpen.set(!isMenuOpen.value);
    isMenuOpen.subscribe((open) => {
      if (open) {
        nav.classList.remove("shadow-md");
      } else {
        nav.classList.add("shadow-md");
      }
    });
  });
</script>
