---
import PortableTextComponent from "@/components/portableText/PortableTextComponent.astro";
import Layout from "@/layouts/Layout.astro";

import { getBlog } from "@/utils/sanity";
import { Image } from "astro:assets";

const { slug = "" } = Astro.params ?? "";
const blog = await getBlog(slug);
console.log("🚀 ~ Blog:", blog);
---

<Layout title={blog.name} description={blog.descriptionMeta} keywords={[""]}>
  <section class="mt-[150px] flex items-center justify-center flex-col">
    <div class="container flex flex-col items-center justify-center gap-10">
      <h1 class="h2 text-center">{blog.name}</h1>
      <Image
        src={blog.imgSrc}
        width={1200}
        height={1200}
        alt={`Pareja preguntando ${blog.name}`}
        class="object-contain rounded-xl mx-auto w-full lg:max-w-[600px] md:max-w-[550px] h-full"
      />
      <div>
        <PortableTextComponent value={blog.description} />
      </div>
    </div>
  </section>
</Layout>
