---
import Layout from "@/layouts/Layout.astro";
import { getProduct } from "@/utils/sanity";
import PortableTextComponent from "@/components/portableText/PortableTextComponent.astro";
import { Image } from "astro:assets";
import BackButton from "@/components/shared/BackButton.astro";
import WhatsApp from "@/components/shared/socials/WhatsApp.astro";

const { slug = "" } = Astro.params ?? "";
const product = await getProduct(slug);

const {
  name,
  location,
  imgSrc,
  description,
  price,
  currency,
  priceKids,
  ageKids,
  checkInTime,
  checkOutTime,
} = product;
---

<Layout
  title={`Tour ${name} `}
  description={`Tour ${name}`}
  keywords={["tours"]}
>
  <section class="w-full mt-[120px] md:pt-[0px] pb-10 text-black">
    <div
      class="container grid grid-cols-1 lg:grid-cols-2 justify-items-center lg:gap-x-20"
    >
      <div
        class="overflow-hidden flex flex-col items-start justify-start col-span-2 lg:col-span-1"
      >
        <BackButton />
        <!-- Image -->
        <Image
          src={imgSrc}
          alt={name}
          widths={[240, 450, 600]}
          height={500}
          inferSize={true}
          class="object-contain rounded-xl mx-auto w-full lg:max-w-[600px] md:max-w-[550px] h-full"
        />
      </div>
      <article
        class="flex lg:mt-[30px] flex-col items-center justify-start lg:items-start"
      >
        <div class="flex flex-col justify-start items-start py-5 gap-4">
          <h1 class="h2">{name}</h1>
          <p><span>{currency}</span>$ <span class="h4">{price}</span></p>
        </div>

        <p class="p mb-5 font-medium">Informacion:</p>
        <PortableTextComponent value={description} />
      </article>
      <WhatsApp
        class:list={"bg-green-500 mt-10 col-span-2 hover:bg-green-800"}
      />
    </div>
  </section>
</Layout>
