---
import { SpeedInsights } from "@vercel/speed-insights/next";

import { Footer, NavBar, SideMenu } from "@/components/sections";
import { ViewTransitions } from "astro:transitions";

import { SEO } from "astro-seo";

import { info } from "@/data";
const { address, email, tel, socials } = info;

interface Props {
  title: string;
  description: string;
  keywords: string[];
  image?: string;
}

const { title, description, keywords, image } = Astro.props;
---

<html lang="es">
  <head>
    <!-- SITEMAP -->

    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- GOOGLE SEARCH CONSOLE -->
    <meta
      name="google-site-verification"
      content="LUVjeCa9J5WRJoppo_yh7otoSLTxRBsSEU0BynUdZWM"
    />
    <!-- SEO -->

    <meta
      name="keywords"
      content=` ${keywords},
      agencia de viajes santo domingo,
        agencia de viajes,
        santo domingo este,
        santo domingo,
        republica dominicana,
        paquetes internacionales,
        circuitos,
        reservas de hoteles,
        resorts,
        boletos de avion,
        viajar,
        turismo,
        viajes,
        hoteles,
        resorts,
        aviones,
        boletos,
        reservas,
        paquetes,
        circuitos internacionales,
        viajes internacionales,
        viajar al extranjero,
        turismo internacional,
        agencias de viajes,
        viajes a medida,
        viajes de negocios,
        viajes de placer,
        viajes de lujo,
        viajes economicos,
        viajes en grupo,
        viajes en familia,
        viajes en parejas,
        viajes en grupo,
        viajes de cultura,
        viajes de historia,`
    />
    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          title: title,
          type: "website",
          image: `${image}`,
        },
        optional: {
          description: description,
        },
      }}
      twitter={{
        card: "summary_large_image",
        title: title,
        description: description,
        image: `${image}`,
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.png" }],
      }}
    />

    <!-- SCHEMA JSON LD -->

    <!-- <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "TravelAgency",
        "name": "Agencia de Viajes",
        // REVISAR IMAGEN
        "image": "https://bettertravelrd.com/logo.png",
        "description": "Agencia de viajes en Santo Domingo que ofrece paquetes todo incluido, tours guiados y viajes personalizados en el Caribe.",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Av. San Vicente de Paul #152, Plaza Jayson 2do Piso",
          "addressLocality": "Santo Domingo Este",
          "addressRegion": "Santo Domingo",
          "addressCountry": "DO"
        },
        "telephone": "+18295972494",
        "url": "https://bettertravelrd.com"
      }
    </script> -->

    <!-- FLAT PICKR CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_orange.css"
    />

    <!-- <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
    /> -->
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!--  -->
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <SpeedInsights />
  </head>
  <body>
    <SideMenu />
    <NavBar />
    <main>
      <slot />
    </main>
    <!-- <Footer /> -->
  </body>
</html>

<style is:global>
  * {
    scroll-behavior: smooth;
  }
  /* bg-[#d8f3ff] */
  body {
    @apply bg-[#8bd6f7]  text-black dark:bg-[#181818] dark:text-white;
  }
  .h1 {
    @apply font-poppins text-5xl font-bold  tracking-wide md:text-6xl lg:text-7xl;
  }
  .h2 {
    @apply font-poppins text-4xl font-bold tracking-wide md:text-4xl lg:text-5xl;
  }
  .h3 {
    @apply font-poppins text-3xl font-bold  tracking-wide md:text-3xl lg:text-4xl;
  }
  .h4 {
    @apply font-poppins text-2xl font-bold  tracking-wide md:text-2xl lg:text-3xl;
  }

  p,
  span {
    @apply text-base;
  }
</style>
