---
import Layout from "@/layouts/Layout.astro";
import { getResort } from "@/utils/sanity";
import PortableTextComponent from "@/components/portableText/PortableTextComponent.astro";
import ButtonCTA from "@/components/shared/ButtonCTA.astro";
import ReservationForm from "@/components/shared/ReservationForm.astro";

const { slug = "" } = Astro.params ?? "";
const resort = await getResort(slug);

const {
  location,
  imgSrc,
  description,
  price,
  currency,
  priceKids,
  ageKids,
  name,
} = resort;
---

<Layout title={`Viaja por ${name}`}>
  <section class="mt-24 text-black py-10 w-full">
    <div class="container">
      <button onclick="history.back()" class="pb-3 mb-2 opacity-70"
        >{`<--- Volver atras`}</button
      >
      <div class="h-48 overflow-hidden">
        <img src={imgSrc} class="object-cover w-full h-full rounded-xl" />
      </div>
      <article>
        <div class="flex items-center flex-col justify-between my-5">
          <h1 class="h1">{name}</h1>
          <div class="w-full flex items-center justify-between py-2">
            <a
              href={`/zona/${location.toLocaleLowerCase()}`}
              class="hover:underline">{location}</a
            >
            <p class="font-bold text-center">
              <span class="opacity-70">
                {currency}$
              </span>
              <span class="text-2xl text-red-500">
                {price}
              </span>
            </p>
          </div>
          <div class="w-full flex items-center justify-between py-2">
            <p>{ageKids}</p>
            <p class="font-bold text-center">
              <span class="opacity-70">
                {currency}$
              </span>
              <span class="text-red-500 text-2xl">
                {priceKids}
              </span>
            </p>
          </div>
        </div>

        <div class="w-full flex items-center justify-center mb-5">
          <ButtonCTA
            href={`/reservar/${slug}`}
            class={`text-white bg-blue-500 text-xl`}
          >
            Reservar</ButtonCTA
          >
        </div>

        <PortableTextComponent value={description} />

        <ReservationForm />
      </article>
    </div>
  </section>
</Layout>
